:root {
	--colorPrimary: #F2F0EA;
	--colorPrimaryDark: #010101;
	--colorSecondaryGray: #A4A4A4;
	--colorSecondaryGreen: #086e60;
	--colorSecondaryRed: #E56F56;
}

.navbar-container {
	background-color: #fff;
	display: flex;
	flex-direction: column;
}
.promotional-banner {
	background-color: var(--colorSecondaryGreen);
	color: var(--colorPrimary);
	padding: 1rem 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.promotional-banner span {
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
}

/**
 * Desktop Navbar
 */
.main-navbar {
	padding: 2rem 5vw 1rem 5vw;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-navbar .left img {
	width: auto;
	height: 4rem;
}
.main-navbar .middle {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
.main-navbar .right {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}
.cart-button {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	transition: all 0.3s;
}
.cart-button:hover {
	cursor: pointer;
	background-color: rgba(229, 111, 86, 0.2);
}
.cart-button .icon {
	width: 2rem;
	height: 2rem;
	color: #E56F56;
}
.cart-button span {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--colorPrimaryDark);
}
.navbar-login-button {
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	background-color: #086e60;
	color: #F2F0EA;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	transition: all 0.3s;
}
.navbar-login-button:hover {
	cursor: pointer;
	opacity: 0.8;
}

/**
 * Mobile Navbar
 */
.mobile-searchbar {
	padding: 1.2rem 5vw;
	display: none;
	justify-content: center;
	align-items: center;
}
@media only screen and (max-width: 850px) {
	.main-navbar .left img {
		height: 3rem;
	}
}
@media only screen and (max-width: 600px) {
	.main-navbar .middle {
		display: none;
	}
	.mobile-searchbar {
		display: flex;
	}
}

/**
 * Category navigation
 */
 .category-navbar {
	display: flex;
	padding: 2rem 5vw;
 }
.category-navbar ul {
	display: flex;
	justify-content: start;
	align-items: center;
	list-style: none;
	gap: 3rem;
}
.category-navbar ul li a {
	color: #010101;
	font-size: 1.4rem;
	text-decoration: none;
}
.category-navbar ul li a:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	color: var(--colorSecondaryGreen);
}

/**
 * Mobile Category navigation
 */
@media only screen and (max-width: 600px) {
	.category-navbar, .category-navbar ul {
		justify-content: center;
	}
}